*{
    box-sizing: border-box;
}
h1,h2 {
    text-align: center;
}
h2{
    font-size: 2rem;
}
.spinner{
    display: block;
    margin: 0 auto;
}
.hidden {
    display: none;
}
ul, .editBox {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li, input {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    width: 20%;
    padding: 1rem;
    border: 1px solid grey;
}
span {
    display: inline-block;
    flex: 1;
    margin: .2rem 0;
}
.users-list img {
    width: 100%;
    height: 200px;
    object-fit:cover;
}
.users-list [data-content="id"] {
    flex: 0;
}
button {
    border: none;
    font-size: 1rem;
    padding: .5rem;
    font-weight: 600;
    margin: .5rem;
    border-radius: .2rem;
    cursor: pointer;
}
.edit, .save {
    background-color: rgba(67, 206, 153, 0.774);
}
.delete, .cancel {
    background-color: rgba(236, 97, 97, 0.726);
}
.save, .cancel {
    width: 10.5%;
}

.users-list [data-content="id"]::before {
    content: 'ID: ';
}
.users-list [data-content="name"]:hover {
    cursor: pointer;
    color: blue;
}
.users-list [data-content="name"]::before {
    content: 'Name: ';
}
.users-list [data-content="username"]::before {
    content: 'Username: ';
}
.users-list [data-content="email"]::before {
    content: 'Email: ';
}
.users-list [data-content="city"]::before {
    content: 'Address: ';
}
.users-list [data-content="Company_name"]::before {
    content: 'Company: ';
}
.users-list [data-content="phone"]::before {
    content: 'Phone: ';
}
.users-list [data-content="website"]::before {
    content: 'Website: ';
}
*::before {
    font-weight: 700;
}
.post-card {
    border: 1px solid gray;
    padding: 1rem;
    margin: .5rem;
}
.post-body {
    font-size: 1.4rem;
}
.comments{
    color: gray;
}
.comment-author {
    font-weight: 700;
}