<div class="container">
  <a href="#" routerLink="/">--GO BACK</a>
  <form [formGroup] = "myForm" (ngSubmit)="saveUser()" class="add-form" [class.error]="!myForm.valid"> 
    <input type="text" placeholder="name" formControlName="name"/>
    <input type="text" placeholder="email" formControlName="email"/>
    <input type="text" placeholder="phone" formControlName="phone"/>
    <input type="text" placeholder="address" formControlName="address"/>
    <input type="text" placeholder="website" formControlName="website"/>
      
    <button type="button" (click)="clearInputs()">Discard</button>
    <button type="submit" [disabled]="!myForm.valid" [ngClass] = "{'valid' : myForm.valid}" >Save</button>
  </form>
</div>