$header_image: url('/img/m-h-day.jpg') no-repeat center center;
$font:'Hind', sans-serif;

$background_colors: (color_main: #202334, color_button: #6C9402, color_section:#202334, color_body:#fff, color_footer: #202334);
$font_colors: ( highlight_color: #34a5eb, color_card_header: #E3E0E0, color_card_text:#c0c3ce, color_footer: #c0c3ce);
