<div class="container">
    <input type="text" placeholder="Search" [(ngModel)]="searchedName" class="search">
    <button class="add-btn" (click)="toggleTheForm()">Add new user</button>
</div>

<div class="container"  *ngIf="!closed">
  <form [formGroup] = "myForm" (ngSubmit)="saveUser()" class="add-form" [class.error]="!myForm.valid"> 
    <input type="text" placeholder="name" formControlName="name"/>
    <input type="text" placeholder="email" formControlName="email"/>
    <input type="text" placeholder="phone" formControlName="phone"/>
    
    <button (click)="toggleTheForm()" type="button">Discard</button>
    <button type="submit" [disabled]="!myForm.valid" [ngClass] = "{'valid' : myForm.valid}">Save</button>
  </form>
</div>

<div class="container">
  <ul>
      <user 
      *ngFor="let user of usersList | userFilter:searchedName"
      [user]="user"
      (deleteUser) = "deleteUser($event)"
      (editUser) = "saveEditedUser($event)"
      >
    </user>
  </ul>
  </div>  