
@import "variables";
.btn {
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: .5rem;
    margin: .5rem 1rem;
    font-weight: 500;
    width: 100px;
    color: $white;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline:0;
}